#start-header{
    padding-right: 100px;
    font-family: 'Vina Sans', sans-serif;
    color: rgb(101, 98, 98);
}
#cover{
    text-align: center;
    font-size: 200px;
    padding-top: 50px;
    font-family: 'Vina Sans', sans-serif;
    color: rgb(255, 255, 255);
}
header{
    background-color: rgb(245, 236, 228);
}
main{
    background-image:url(images/shoes.jpeg);
    background-repeat: no-repeat;
    background-attachment:scroll;  
    background-size:cover;
}
#intro{
    border: solid 2px white;
    font-size: 25px;
    background-color: rgba(202, 199, 199, 0.789);
    margin-left: 23%;
    width:800px;
    text-align: center;
    font-family: 'Nova Square', sans-serif;
}

.btn {
    font-family: 'Vina Sans', sans-serif;
    font-size: 30px;
    margin-left: 42%;
}

footer{
    background-color: rgb(245, 236, 228);
}